
@import './sass-twitter-bootstrap/lib/bootstrap.scss'
@import './Flat-UI/sass/flat-ui.sass'

$fontAwesomePath:   "../sass/Font-Awesome-More/font"
@import './Font-Awesome-More/sass/font-awesome.sass'

$fontAwesomeSocialPath:   "../sass/Font-Awesome-More/fonts/social"
@import './font-awesome-more-patch.sass'



$fontResourcePath:   "../sass/resources"
@font-face
  font-family: 'Fantasy-Clipart-2'
  src: url('#{$fontResourcePath}/fantasy_clipart_2-webfont.eot?v=3.0.1')
  src: url('#{$fontResourcePath}/fantasy_clipart_2-webfont.eot?#iefix&v=3.0.1') format("embedded-opentype"), url('#{$fontResourcePath}/fantasy_clipart_2-webfont.woff?v=3.0.1') format("woff"), url('#{$fontResourcePath}/fantasy_clipart_2-webfont.ttf?v=3.0.1') format("truetype")
  font-weight: normal
  font-style: normal

.icon-skull
  font-family: 'Fantasy-Clipart-2'
.icon-skull:before
  content: "S"


// Mixins
=user-drag($drag)
  -webkit-user-drag: $drag
  -moz-user-drag: $drag
  -ms-user-drag: $drag
  -o-user-drag: $drag
  user-drag: $drag

=filter-blur($blur)
  -webkit-filter: blur($blur)
  -moz-filter: blur($blur)
  -ms-filter: blur($blur)
  -o-filter: blur($blur)
  filter: blur($blur)

=display-box
  display: -webkit-box
  display: -moz-box
  display: -ms-box
  display: box


// Overrides
.btn
  +user-select(none)
.muted
  color: inherit
  opacity: .6



$itme-min-height: 120px
$item-margin-bottom: 20px

=margin-bottom-normal
  margin-bottom: $item-margin-bottom
  

.app-title
  line-height: 40px
  margin-top: 40px
  margin-bottom: 20px
  h1
    margin-top: 0
    margin-bottom: 0
  .icon-twitter
    font-size: 120%
    vertical-align: middle
    margin-right: 20px
  .pull-right
    text-align: right
    

.app-userprofile
  display: inline-block
  img
    +user-select(none)
    +user-drag(none)
    width: 28px
    margin-right: 6px

.row-nav
  display: none
  +margin-bottom-normal
  [class^="icon-"], [class*=" icon-"]
    font-weight: bold

.app-items
  // Youtube
  @for $i from 1 through $gridColumns
    .app-item-youtube.span#{$i} iframe
      $w: ($gridColumnWidth * $i) + ($gridGutterWidth * ($i - 1))
      width: $w
      height: ($w / 1.777) // Youtube aspect
      vertical-align: bottom

.app-item
  +margin-bottom-normal
.app-item-bar
  display: block
  background: #d7dce0
  .btn-group
    float: right

  // override flat-ui
  .btn-group > .btn:first-child,
  .btn-group > .btn:last-child
    border-radius: 0

  input[type="text"]
    width: 110px
    vertical-align: middle
    padding-top: 2px
    padding-bottom: 2px

  .app-item-like,
  .app-item-bad
    +user-select(none)
    vertical-align: middle

.app-item-twitter

  .from_user
    margin-right: 4px
  .from_user_name
    font-size: 80%
    opacity: .8
    s
      text-decoration: none

  .app-item-twitter-inner
    position: relative
    > img
      border-radius: 2px
      margin: 4px
    > .text
      margin: 0 4px
      font-size: 200%
      opacity: .8
    > .username
      margin: 0 4px
      padding: .2em 0
    &:after
      position: absolute
      display: block
      bottom: 0
      right: 5px
      color: white
      opacity: .6
      font-size: 400%

      @extend [class^="icon-"]
      @extend [class^="icon-"]:before
      @extend .icon-twitter:before

// app.ui.Dialog
.dialog-shown .content
  +filter-blur(2px)
  
.app-dialog
  width: 60%
  margin: 0
  @extend .modal
  border: none
  background: #C0392B
  border-radius: 0
.app-dialog-title
  @extend .modal-header
  border-bottom: none
  font-size: 137%
  color: rgba(255,255,255,1)
.app-dialog-content
  @extend .modal-body
  color: rgba(255,255,255,.8)
.app-dialog-buttons
  @extend .modal-footer
  border-top: none
  background: none
  box-shadow: none
  button
    @extend .btn
.app-dialog-title-close
  cursor: pointer
  &:before
    @extend .close
    @extend [class^="icon-"]
    @extend [class^="icon-"]:before
    @extend .icon-remove:before

.app-message
  @extend .alert
  @extend .fade
  @extend .clearfix
  position: fixed
  margin: 0
  width: 100%
  top: 0
  left: 0
  background: #34495e
  text-shadow: none
  box-sizing: border-box
  border: none
  border-radius: 0
  color: white
  line-height: 1.6em
.app-message-content
  float: left

.app-message-close
  @extend .app-dialog-title-close
  &:before
    @extend .close
    @extend [class^="icon-"]
    @extend [class^="icon-"]:before
    @extend .icon-remove:before


.app-popup
  @extend .tooltip
  @extend .fade
  @extend .bottom
  @extend .in
  .tooltip-inner
    padding-right: 0  // <- 12px
    width: 195px      // 183 + 12
    text-align: left
.app-item-popup-user
  +text-overflow()
  margin-bottom: 4px
  &:last-of-type
    margin-bottom: 0
  img
    width: 22px
    margin-right: 3px
  .icon-external-link
    font-size: 77%

