
@import './sass-twitter-bootstrap/lib/bootstrap.scss'
@import './Flat-UI/sass/flat-ui.sass'

$fontAwesomePath:   "../sass/Font-Awesome-More/font"
@import './Font-Awesome-More/sass/font-awesome.sass'

$fontAwesomeSocialPath:   "../sass/Font-Awesome-More/fonts/social"
@import './font-awesome-more-patch.sass'



$fontResourcePath:   "../sass/resources"
@font-face
  font-family: 'Fantasy-Clipart-2'
  src: url('#{$fontResourcePath}/fantasy_clipart_2-webfont.eot?v=3.0.1')
  src: url('#{$fontResourcePath}/fantasy_clipart_2-webfont.eot?#iefix&v=3.0.1') format("embedded-opentype"), url('#{$fontResourcePath}/fantasy_clipart_2-webfont.woff?v=3.0.1') format("woff"), url('#{$fontResourcePath}/fantasy_clipart_2-webfont.ttf?v=3.0.1') format("truetype")
  font-weight: normal
  font-style: normal

.icon-skull
  font-family: 'Fantasy-Clipart-2'
.icon-skull:before
  content: "S"






$itme-min-height: 120px
$item-margin-bottom: 20px

=margin-bottom-normal
  margin-bottom: $item-margin-bottom
  

.app-title
  line-height: 40px
  margin-top: 40px
  margin-bottom: 20px
  h1
    margin-top: 0
    margin-bottom: 0
  .icon-twitter
    font-size: 150%
    vertical-align: middle
    margin-right: 10px
  .pull-right
    text-align: right
    

.app-userprofile
  +user-select(none)
  img
    width: 28px
    margin-right: 3px

.row-nav
  display: none
  +margin-bottom-normal
  [class^="icon-"], [class*=" icon-"]
    font-weight: bold

.app-items
  @for $i from 1 through $gridColumns
    .span#{$i} iframe
      // margin-bottom: 6px
      $w: ($gridColumnWidth * $i) + ($gridGutterWidth * ($i - 1))
      width: $w
      height: ($w / 1.777) // Youtube aspect
      vertical-align: bottom

.app-item
  +margin-bottom-normal
  // background: $gray
.app-item-bar
  text-align: right
  height: 2.8em
  line-height: 2.8em
  overflow: visible

.app-item-like,
.app-item-bad
  margin-left: 6px
  +user-select(none)
  +transition(font-size .05s ease-out)
  vertical-align: middle

  &.icon-heart,
  &.icon-heart-empty
    color: red
    &:hover
      color: lighten(red, 20%)

  &.icon-thumbs-down,
  &.icon-skull
    color: #333
    &:hover
      color: lighten(#333, 20%)

  &.icon-heart-empty,
  &.icon-thumbs-down
    font-size: 110%

  &.icon-heart,
  &.icon-skull
    font-size: 220%
